@media only screen and (max-width: 1300px) and (min-width: 1199px) {}

@media screen and (max-width:1199px) {

    .luxury-hotels,
    section.contact-us {

        margin-top: 73px;
    }

    section.banner {
        height: 500px;

    }

    .site-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        background: #000;
        transition: .4s cubic-bezier(0, 0, 0.13, 0.61);
        transform: translateX(-100%)
    }

    .site-nav ul {
        display: block;
        margin-top: 40px
    }

    .site-nav ul li {
        border-bottom: 1px solid #fff
    }

    .site-nav ul li a {
        color: #fff
    }

    .menu-toggle {
        display: block
    }

    .closed-menu {
        font-size: 40px;
        color: #fff;
        position: absolute;
        top: -5px;
        right: 15px;
        display: inline-block;
    }

    .toggle .site-nav {
        transform: translateX(0)
    }
}

@media screen and (max-width:991px) {

    .banner-btn.main {
        text-align: center;
        padding:  30px 0;
    }

    .text_hotel {
        padding: 0 30px;
    }

    .img_box img {
        height: 200px;
        object-fit: cover;
    }

    .bnr-text h1 {
        font-size: 26px;
    }

    .bnr-text p {
        font-size: 16px;
    }

    .luxury-hotels,
    section.contact-us {
        height: auto;
        padding: 100px 0;
    }

    #luxury-card .banner-btn.main {
        text-align: left;
        padding: 0 0 40px;
    }
}

@media screen and (max-width:767px) {
    footer.footer {
        text-align: center;
    }

    .social-icons-btn {
        display: flex;
        justify-content: center;
    }

    .Useful_link h2,
    .get h2 {

        text-align: center;
    }

    .Useful_link {
        margin-top: 30px;
    }

    .get {
        margin-top: 30px;
    }

    .policey ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .policey ul li a {

        padding: 0px;

    }

    .luxury-card-inner .row .col-lg-4 {
        margin-top: 30px;
    }

    .second {
        margin-top: 0px;
    }

    section.luxury-hotels.resort {
        background-position: 100% 63%;
    }
}