    /*global start*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0, ;0,800;1,300;1,400;1,500;1,600;1, &display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

    * {
        box-sizing: border-box;

    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-size: 1.6rem;

    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    img {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:focus {
        color: inherit;
    }

    html {
        font-size: 62.5%;
    }

    .container {
        max-width: 1300px;
    }


    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #ECFAFB;
    }


    ::-webkit-scrollbar-thumb {
        background: rgb(143 199 0 / 94%);
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
        -webkit-filter: brightness(120%);
        filter: brightness(120%);
    }

    /*global end*/

    /*header start*/
    .site-header {
        padding: 20px 0;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99999;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);


    }

    .site-header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    .site-logo img {
        max-width: 200px;
    }

    .site-nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    .site-nav li a {
        font-size: 15px;
        display: inline-block;
        padding: 0.8rem 1rem;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
    }

    .site-nav li a:hover {
        color: rgb(143 199 0 / 94%);
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle .bar-1,
    .bar-2,
    .bar-3 {
        width: 2.5rem;
        height: 2px;
        background-color: #333;
        margin: 0.6rem 0;
        transition: all 0.3s linear;
        display: block;
    }

    .closed-menu {
        display: none;
    }


    ul.dropdown-content {
        position: absolute;
        width: 250px;
        background: transparent;
        top: 100%;
        left: 0;
        background: #f1f1f1;
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .active-menu {
        color: rgb(143 199 0 / 94%) !important;
    }

    /* Header end*/
    /* Banner css */
    section.banner {
        padding: 140px 0 60px;
        background: url(../images/home-bnr.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 800px;
        display: flex;
        align-items: center;
        object-fit: cover;
        justify-content: center;
        position: relative;
        z-index: 99;

    }

    section.banner::after {
        content: '';
        background-color: #0000006e;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -9;
    }

    .bnr-text h1 {
        font-size: 48px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 20px;
        color: #fff;
        font-family: 'Playfair Display', serif;
        text-align: center;
    }



    .bnr-img img {
        border-radius: 50px;
    }

    .btn-bg-two {
        background-color: rgb(143 199 0 / 94%);
    }

    .default-btn {
        display: inline-block;
        padding: 12px 42px;
        color: #ffffff;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .border-radius-50 {
        border-radius: 50px !important;
    }

    .default-btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;
        width: 0;
        height: 50%;
        background-color: #1B2132;
        z-index: -1;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
        opacity: 0;
    }

    .default-btn::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0%;
        width: 0;
        height: 50%;
        background-color: #1B2132;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
    }

    .default-btn:hover::after {
        width: 100%;
        opacity: 1;
        color: #ffffff !important;
    }

    .default-btn:hover::before {
        width: 100%;
        color: #ffffff !important;
        opacity: 1;
    }

    .default-btn:hover {
        color: #ffffff !important;
    }

    /*  */
    /*  */
    .card-1 {
        padding: 29px 0;
    }

    .card-1 .row {
        justify-content: center;
    }

    .card-1 h2 {
        text-align: center;
        margin: 40px 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 24px;
    }

    .wrapper {

        background-color: #fff;
        margin: 1.5%;
        padding: 2em 1em;
        box-sizing: border-box;
        box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
        text-align: center;
    }

    .wrapper>h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .15em;
        color: #333;
        margin-bottom: 20px;
    }

    .details {
        width: 95%;
        margin: 0 auto 2em;
        padding-top: 10.5em;
        padding-bottom: 1em;
        background-color: #FEF4F2;
        color: #333;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
        transition: all ease-in 0.15s;
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrapper:hover .details {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
        transform: translate(0px, -2px) scale(1.01);
    }

    .details p {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 20px 0;
    }

    .image {
        position: relative;
        z-index: 2;
        width: 85%;
        height: 250px;
        margin: 0 auto -10em;
        background-size: cover;
        background-position: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
        transition: all ease-in .15s;
        object-fit: contain;
    }

    .wrapper:hover .image {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transform: translate(0px, -3px) scale(1.02);
    }


    .i1 {
        background: url(../images/Luxury-hotels.jpeg);
    }

    .i2 {
        background: url(../images/Resort-hotels.jpeg);
    }

    .i3 {
        background: url(../images/Best-deal-Hotels.jpg);
        background-position: center;
        object-fit: contain;
    }

    .i4 {
        background: url(../images/Unique-hotels.jpg);
        background-position: center;
        object-fit: contain;
    }


    /* footr */
    .footer_logo img {
        width: 100%;
        max-width: 190px;
    }

    footer.footer {
        background-color: #1B2132;
        padding: 60px 0 60px 0;
        margin-top: 50px;
    }

    .footer_logo p {
        color: #fff;
        font-family: 'Montserrat';
        font-size: 18px;
        width: 100%;
        max-width: 403px;
        margin-top: 26px;
    }

    .Useful_link h2,
    .get h2 {
        color: #fff;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        text-align: left;
    }

    .Useful_link ul li a {
        color: #fff;
        padding: 8px 0;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .footer_logo ul {
        margin-top: 40px;
    }

    .social-icons-btn {
        display: flex;
        margin-top: 20px;
    }

    .icons {
        width: 40px;
        height: 40px;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        background: #111;
        margin: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        color: #fff;
        cursor: pointer;
        transition:
            all 0.15s ease;
    }

    .icons:hover {
        color: #fff;
    }

    .twitter:hover {
        background: #00ECEE;
    }

    .facebook:hover {
        background: #4267B2;
    }

    .instagram:hover {
        background-image:
            linear-gradient(#8a3ab9,
                #e95950,
                #bc2a8d,
                #fccc63);
    }

    .linkedin:hover {
        background: #0A66C2;
    }

    .footer_logo ul a:hover {
        background-color: transparent;
        border: 1px solid;
        color: #deb666;
    }

    .Useful_link ul li a:hover {
        color: rgb(143 199 0 / 94%);
    }

    .location ul li a {
        color: #fff;
        padding: 10px 0;
        display: inline-block;
        line-height: 29px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }

    .location ul li a i {
        background: #111;
        text-align: center;
        border-radius: 37px;
        height: 40px;
        width: 40px;
        font-size: 15px;
        padding: 9px;
        margin: 0 10px 0 0;
        border: 1px solid #111;
    }

    .location ul li a i:hover {
        background-color: transparent;
        border: 1px solid;
        color: rgb(143 199 0 / 94%);
    }

    footer.footer .row {
        border-bottom: 1px solid #3e3d3c;
        padding: 0 0 41px 0;
    }

    .location ul li a:hover {
        text-decoration: underline;

    }

    .policey ul {
        display: flex;
        justify-content: flex-end;
    }

    footer.footer .copyright .row {
        border: none;
        padding: 0;
    }

    .policey ul li a {
        color: #fff;
        padding: 0px 0px 0 40px;
        display: inline-block;
        line-height: 29px;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }

    .policey ul li a:hover {
        color: rgb(143 199 0 / 94%);
    }

    .copyrights p {
        line-height: 29px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        margin: 0;
    }

    .copyright {
        margin-top: 30px;
    }

    /* Contact page */
    section.contact-us {
        background: url(../images/contact-bnr.jpg);
        margin: 80px 0 0 0;
        height: 400px;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 99;
        background-position: center;
    }

    section.contact-us::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1B2132;
        opacity: 0.5;
        z-index: -9;
    }

    .bnr-text-inner h1 {
        text-align: center;
        color: #fff;
    }

    section.contact-description {
        padding: 40px 0 20px;
    }

    .description-inr h5 {
        font-size: 18px;
        font-weight: 600;
        color: #000;
    }

    .description-inr p {
        font-size: 16px;
    }

    .description-inr p a {
        color: #4267B2;
    }

    /* terms start */
    section.terms {
        padding: 80px 0 0 0;
    }

    .condition_wrap h5 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .condition_wrap p {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 28px;
        margin-bottom: 0;
    }

    .condition_wrap p {
        padding-bottom: 20px;
    }

    .condition_wrap ul li::before {
        position: absolute;
        content: "";
        background: #000;
        width: 8px;
        height: 8px;
        top: 8px;
        left: 0;
        border-radius: 50%;
    }

    .condition_wrap ul li {
        position: relative;
        padding-left: 20px;
        padding-bottom: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    #terms {
        background-size: cover;
        padding: 90px 0 0 0;
        margin: 50px 0 0 0;
        background-position: center;
        position: relative;
    }

    h1.awe {
        color: #000;
        text-align: center;
    }

    #Privacy {
        background-size: cover;
        padding: 90px 0px;
        margin: 125px 0 0 0;
        background-position: center;
        position: relative;
    }

    .active {
        color: #deb666 !important;

    }

    a:not([href]):not([tabindex]) {
        color: #fff;
        text-decoration: none;
    }

    h1.policey {
        color: #000;
    }

    /* luxury-hotels page */
    .luxury-hotels {
        background: url(../images/Luxury--hotels.jpg)no-repeat;
        height: 400px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 99;
        margin-top: 80px;
    }

    .luxury-hotels::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #1B2132;
        opacity: 0.5;
        z-index: -9;
    }

    .luxury-hotels .bnr-iner h1 {
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;
    }

    .about-text p {
        font-size: 16px;
        color: #000;
        padding: 30px 0;
    }

    .text_box {
        height: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        background: #fff;
        padding: 16px 16px 16px;
        position: relative;
        z-index: 99;
    }

    .text_hotel h3 {
        line-height: 1.4;
        color: #000;
        font-family: "Josefin Sans", sans-serif;
        font-size: 24px;
        text-shadow: 3px -4px 8px rgba(255, 200, 39, 0.3);
        margin-top: 20px;
        text-transform: capitalize;
    }

    .text_hotel p {
        color: #000;
        line-height: 1.7;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }

    .second {
        margin-top: 50px;
    }


    .img_box img {
        height: 277px;
        object-fit: cover;
    }

    /* luxury-hotels page */
    /* section.luxury-hotels.resort */
    section.luxury-hotels.resort {
        background: url(../images/Resort-banner.jpg);
        background-position: bottom;
    }


    body#unique .second .row {
        justify-content: center;
    }

    section.luxury-hotels.best-hotels {
        background: url(../images/bnr-2.jpg);
        background-position: center;
    }

    section.luxury-hotels.unique-hotels {
        background: url(../images/room_studio_header.jpg);
        background-position: center;
    }

    /*  */
    section.dijazengem-dis {
        padding: 50px 0;
    }

    section.dijazengem-dis .durch-inner p {
        font-family: 'Playfair Display', serif;
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        box-shadow: 0 0 7px rgba(143, 255, 69, 0.26);
        padding: 20px;
        text-align: center;
    }


    /*  */

    .luxury-wrapper {
        box-shadow: 0 0 7px rgba(143, 255, 69, 0.26);
    }

    .luxury-wrapper .row {
        align-items: center;
    }

    .luxury-wrapper .text_hotel {
        padding: 0 0 0 50px;
    }

    .luxury-wrapper.one {
        margin-top: 40px;
    }

    #resort .text_box {
        box-shadow: none;
        background: transparent;
    }

    #resort .text_hotel {
        width: 100%;
        max-width: 536px;
        margin: 0 auto;
    }

    #resort .luxury-card-inner .row {
        align-items: center;

    }

    #resort .luxury-card-inner {
        background-color: #8fc60126;
        transition: all 0.3s;
    }

    #resort .img_box {
        overflow: hidden;
        transition: all 0.3s;
    }

    #resort .img_box:hover img {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    #resort .luxury-card-inner.one {
        margin-top: 30px;
    }

    #resort .default-btn {
        padding: 12px 30px;
    }

    #resort .luxury-card-inner:hover {
        box-shadow: 0 15px 45px 0 rgba(0, 0, 0, .31);
    }

    body#unique .text_box {
        box-shadow: none;
        background: transparent;
    }

    body#unique .text_hotel {
        width: 100%;
        max-width: 536px;
        margin: 0 auto;
    }

    body#unique .luxury-card-inner .row {
        align-items: center;

    }

    body#unique .luxury-card-inner {
        background-color: #8fc60126;
        transition: all 0.3s;
    }

    body#unique .img_box {
        overflow: hidden;
        transition: all 0.3s;
    }

    body#unique .img_box:hover img {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    body#unique .luxury-card-inner.one {
        margin-top: 30px;
    }

    body#unique .default-btn {
        padding: 12px 30px;
    }

    body#unique .luxury-card-inner:hover {
        box-shadow: 0 15px 45px 0 rgba(0, 0, 0, .31);
    }

    #luxury-card .text_hotel p {
        width: 100%;
        max-width: 699px;
    }

    body#best .text_box {
        box-shadow: none;
        background: transparent;
    }

    body#best .text_hotel {
        width: 100%;
        max-width: 536px;
        margin: 0 auto;
    }

    body#best .luxury-card-inner .row {
        align-items: center;

    }

    body#best .luxury-card-inner {
        background-color: #8fc60126;
        transition: all 0.3s;
    }

    body#best .img_box {
        overflow: hidden;
        transition: all 0.3s;
    }

    body#best .img_box:hover img {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    body#best .luxury-card-inner.one {
        margin-top: 30px;
    }

    body#best .default-btn {
        padding: 12px 30px;
    }

    body#best .luxury-card-inner:hover {
        box-shadow: 0 15px 45px 0 rgba(0, 0, 0, .31);
    }
    /*  26-09-23*/

    .text_hotel h6{
       font-size: 20px;
       font-weight: 700 ;
       margin: 12px 0;
    }
    .text_hotel h6 span{
        font-weight: 500;
        font-size: 18px;
    }

    section.luxury-hotels.casino-resorts{
        background: url(../images/casino.jpg)no-repeat;
        background-position: center;
        background-size: cover;

    }